extends /pug/_layout

block var_block
  - title = "Vite環境2"
  - bodyClass = "page-about"

block content
  h1 Vite環境2

  .image
    img(src="/assets/images/javascript.svg", alt="")
  .image
    img(src="/assets/images/rabbit.jpg", alt="")
  .image
    img(src="/assets/images/vite.svg", alt="")